<div id="Globals" block-ui="main" class="appView animated"><div id="HtmlContent1" ng-class="HtmlContent1.Class" ng-hide="HtmlContent1.Hidden" title="{{HtmlContent1.Title}}" tooltip-placement="{{HtmlContent1.TooltipPos}}" uib-tooltip="{{HtmlContent1.TooltipText}}" popover-trigger="'{{HtmlContent1.PopoverEvent}}'" popover-placement="{{HtmlContent1.PopoverPos}}" popover-title="{{HtmlContent1.PopoverTitle}}" uib-popover="{{HtmlContent1.PopoverText}}"><strong>App ID:</strong> <span ng-bind-html="App.ID"></span><br />
<strong>App name:</strong> <span ng-bind-html="App.Name"></span><br />
<strong>App version:</strong> <span ng-bind-html="App.Version"></span><br />
<strong>App version code:</strong> <span ng-bind-html="App.VersionCode"></span><br />
<strong>App description:</strong> <span ng-bind-html="App.Description"></span><br />
<strong>Author name:</strong> <span ng-bind-html="App.AuthorName"></span><br />
<strong>Author URL:</strong> <span ng-bind-html="App.AuthorUrl"></span><br />
<strong>Author email:</strong> <span ng-bind-html="App.AuthorEmail"></span><br />
<strong>App theme:</strong> <span ng-bind-html="App.Theme"></span><br />
<strong>App themes:</strong> <span ng-bind-html="App.Themes"></span><br />
<strong>Current view:</strong> <span ng-bind-html="App.CurrentView"></span><br />
<strong>Dialog view:</strong> <span ng-bind-html="App.DialogView"></span><br />
<strong>Inner width:</strong> <span ng-bind-html="App.InnerWidth"></span><br />
<strong>Inner height:</strong> <span ng-bind-html="App.InnerHeight"></span><br />
<strong>Outer width:</strong> <span ng-bind-html="App.OuterWidth"></span><br />
<strong>Outer height:</strong> <span ng-bind-html="App.OuterHeight"></span><br />
<strong>Scaled:</strong> <span ng-bind-html="App.Scaled"></span><br />
<strong>Orientation:</strong> <span ng-bind-html="App.Orientation"></span><br />
<strong>In Cordova:</strong> <span ng-bind-html="App.Cordova"></span><br />
<strong>Is online:</strong> <span ng-bind-html="App.Online"></span><br />
<strong>Last error:</strong> <span ng-bind-html="App.LastError"></span><br />
<strong>In fullscreen:</strong> <span ng-bind-html="App.Fullscreen"></span><br />
<strong>Idle is idling:</strong> <span ng-bind-html="App.IdleIsIdling"></span><br />
<strong>Idle is running:</strong> <span ng-bind-html="App.IdleIsRunning"></span><br />
<hr />
<strong>Hour:</strong> <span ng-bind-html="Hour"></span><br />
<strong>Hour 24:</strong> <span ng-bind-html="Hour24"></span><br />
<strong>Minutes:</strong> <span ng-bind-html="Minutes"></span><br />
<strong>Seconds:</strong> <span ng-bind-html="Seconds"></span><br />
<strong>Milliseconds:</strong> <span ng-bind-html="Milliseconds"></span><br />
<strong>Timestamp:</strong> <span ng-bind-html="Timestamp"></span><br />
<strong>Hour short:</strong> <span ng-bind-html="HourShort"></span><br />
<strong>Hour 24 short:</strong> <span ng-bind-html="Hour24Short"></span><br />
<strong>Minutes short:</strong> <span ng-bind-html="MinutesShort"></span><br />
<strong>Seconds short:</strong> <span ng-bind-html="SecondsShort"></span><br />
<hr />
<strong>Year:</strong> <span ng-bind-html="App.Year"></span><br />
<strong>Month:</strong> <span ng-bind-html="App.Month"></span><br />
<strong>Week:</strong> <span ng-bind-html="App.Week"></span><br />
<strong>Week day:</strong> <span ng-bind-html="App.WeekDay"></span><br />
<strong>Day:</strong> <span ng-bind-html="App.Day"></span><br />
<strong>Year short:</strong> <span ng-bind-html="App.YearShort"></span><br />
<strong>Month short:</strong> <span ng-bind-html="App.MonthShort"></span><br />
<strong>Week short:</strong> <span ng-bind-html="App.WeekShort"></span><br />
<strong>Day short:</strong> <span ng-bind-html="App.DayShort"></span><br />
</div><button id="Button25" role="button" ng-class="Button25.Class" aria-label="{{Button25.AriaLabel}}" tabIndex="{{Button25.TabIndex}}" title="{{Button25.Title}}" ng-hide="Button25.Hidden" ng-disabled="Button25.Disabled" uib-tooltip="{{Button25.TooltipText}}" tooltip-placement="{{Button25.TooltipPos}}" popover-trigger="'{{Button25.PopoverEvent}}'" popover-placement="{{Button25.PopoverPos}}" popover-title="{{Button25.PopoverTitle}}" uib-popover="{{Button25.PopoverText}}" ng-click="Button25Click($event)" ng-bind-html="'<span class=&quot;'+Button25.Icon+'&quot;></span> ' + Button25.Text"></button></div>
